CDK_DEFAULT_ACCOUNT=123456789012
CDK_DEFAULT_REGION=us-east-1
ENVIRONMENT=dev
FILE_READ_PUBLIC_KEY_PEM=REPLACE_ME
FILE_READ_PRIVATE_KEY_PARAMETER_NAME=/file-storage/dev/file-read-private-key
OPENAI_IMAGE_ANALYSIS_API_KEY_PARAMETER_NAME=/file-storage/dev/openai-image-analysis-api-key
